@import "../../../styles/variables.css";

.health-bar-container {
  max-width: 95%;
  height: 25px;
  background-color: #e2e8f0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.health-bar {
  height: 100%;
  transition: background-color 0.3s ease;
}

.health-bar.animating {
  transition: width 1s cubic-bezier(0.22, 1, 0.36, 1),
    background-color 0.3s ease;
}

.health-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-size: var(--font-xs);
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  transition: color 0.3s ease;
}
