@import "../../../styles/variables.css";

.player-info-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  padding: var(--spacing-md);
  width: 300px;
  background-image: var(--empty-clean-scroll-background);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-family: var(--font-family-title);
}

.player-text-info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.player-name {
  font-size: var(--font-lg);
  font-weight: var(--font-bold);
  margin: 0;
  color: var(--text-dark);
}

.player-rank {
  font-size: var(--font-sm);
  color: var(--text-secondary);
}

.player-avatar {
  width: 64px;
  height: 64px;
  overflow: hidden;
  border: 2px solid var(--border-dark);
}

.player-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Enemy-specific styles */
.player-info-container.enemy {
  flex-direction: row-reverse;
}

.player-info-name {
  font-family: var(--font-family-title);
  font-weight: var(--font-weight-bold);
}

.player-info-rank {
  font-family: var(--font-family-default);
}
