@import "../../../styles/variables.css";

.character-card {
  position: relative;
  width: 100%;
  padding: 0.5rem;
  background-image: var(--scroll-with-base-background);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.character-info-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;

  gap: 1rem;

  width: 100%;
  max-height: 100px;
  padding: 0.7rem;

  overflow: visible;
  position: relative;
}

.character-stats-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;

  height: 30px;

  overflow: visible;
  position: relative;
}

.character-actions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;

  height: 25px;
  width: 70%;

  overflow: visible;
  position: relative;
}

.character-actions.enemy {
  align-items: flex-end;
  width: 100%;
}

.character-info-abilities-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  gap: 0.1rem;

  overflow: visible;
  position: relative;
}

.character-info-abilities-container.enemy {
  align-items: flex-end;
}

/* Effects Styling */
.character-effects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.3rem;

  height: 25px;
  width: 70%;

  overflow: visible;
  position: relative;
}

.character-effects.enemy {
  align-items: flex-end;
  width: 100%;
}

/* Player team (left side) effects and actions */
.team-container:first-child .character-effects,
.team-container:first-child .current-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-start; /* Align to the left */
}

/* Enemy team (right side) effects and actions */
.team-container:last-child .character-effects,
.team-container:last-child .current-actions {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: flex-end; /* Align to the right */
  align-items: flex-end;
}

/* Adjust enemy card to mirror the scroll if needed */
.character-card.enemy-card {
  transform: scaleX(-1);
  width: 100%;
  padding-left: 1.1rem;
  padding-right: 1.1rem;
}

/* Prevent content from being mirrored */
.character-card.enemy-card .character-info-container {
  transform: scaleX(-1);
}
